{% extends 'base.html' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content_app %}
    <div class="container">
        <main>
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm" >
                        <div class="card-header py-3" style="background-color: gold">
                            <h4 class="my-0 fw-normal">Vip товар 1</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$15</h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>ОписаниеОписаниеОписание</li>
                                <li>ОписаниеОписаниеОписание</li>
                                <li>ОписаниеОписаниеОписание</li>
                                <li>ОписаниеОписаниеОписание</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg" style="background-color: gold">Купить</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm" >
                        <div class="card-header py-3" style="background-color: gold">
                            <h4 class="my-0 fw-normal">Vip товар 2</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$15</h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>ОписаниеОписаниеОписание</li>
                                <li>ОписаниеОписаниеОписание</li>
                                <li>ОписаниеОписаниеОписание</li>
                                <li>ОписаниеОписаниеОписание</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg" style="background-color: gold">Купить</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm" >
                        <div class="card-header py-3" style="background-color: gold">
                            <h4 class="my-0 fw-normal">Vip товар 2</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$15</h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>ОписаниеОписаниеОписание</li>
                                <li>ОписаниеОписаниеОписание</li>
                                <li>ОписаниеОписаниеОписание</li>
                                <li>ОписаниеОписаниеОписание</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg" style="background-color: gold">Купить</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Товар 1</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$5</h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>ОписаниеОписаниеОписание</li>
                                <li>ОписаниеОписаниеОписание</li>
                                <li>ОписаниеОписаниеОписание</li>
                                <li>ОписаниеОписаниеОписание</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Купить</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Товар 2</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$5</h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>ОписаниеОписаниеОписание</li>
                                <li>ОписаниеОписаниеОписание</li>
                                <li>ОписаниеОписаниеОписание</li>
                                <li>ОписаниеОписаниеОписание</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Купить</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Товар 3</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$5</h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>ОписаниеОписаниеОписание</li>
                                <li>ОписаниеОписаниеОписание</li>
                                <li>ОписаниеОписаниеОписание</li>
                                <li>ОписаниеОписаниеОписание</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Купить</button>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>


{% endblock %}